$primary-color: #316B83;
$secondary-color: #6D8299;
$button-color: #8CA1A5;
$font-color: #ffffff;
$font-hover-color: #D5BFBF;
$dark-color: #202020;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}